:host {
  position: sticky;
  display: flex;
  top: 0;
  background-color: hsl(var(--primary-color));
  padding: calc(var(--base-space) * 2);
  align-items: center;
  min-height: calc(var(--base-space) * 10);
}
